* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/*------------------------------------- miscelannous classes  -------------------------------------------------------------*/

.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 2;
}


/*---------------------------------- animated heartbeat ----------------------------------------*/

.computer {
    animation: heartBeat 1s linear infinite;
    -webkit-animation: heartBeat 1s linear infinite;
}

.computer::before {
    content: '💻';
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    33% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    66% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    33% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    66% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
}


/*---------------------- rollOverY axis -------------------------*/

@keyframes rollOverY {
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}