/*---------------------------------- .banner ---------------------------------------------------*/

.banner {
    position: relative;
    height: 100%;
    margin-bottom: 10px;
    font-family: FuturaPT, sans-serif;
}

.bg-img {
    background-image: url("../img/b.jpg");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 60%;
    z-index: 1;
    text-align: center;
    padding: 15px;
    color: whitesmoke;
    background-color: rgb(28, 28, 28);
    background-color: rgb(28, 28, 28, 0.3);
    border: 1px solid whitesmoke;
}


/*----------------------------------- section -------------------------------------------*/

section {
    margin: auto;
    width: 70%;
    border: 4px solid black;
}


/*------------------------ .team --------------------------------*/

.team {
    background-color: #f2eee5;
    text-align: center;
    padding: 0px 10px;
    border: 2px solid blue;
}


/*------------- #team-member .owl-item ------------------*/

#team-member .owl-item {
    box-shadow: 3px 3px 10px #1c1c1c;
    margin-bottom: 10px;
}

#team-member .owl-item button.profile-btn {
    display: inline-block;
    width: 100%;
    outline: 0;
    border: none;
    color: gainsboro;
    background-color: #1c1c1c;
}

#team-member .owl-item .intro {
    padding: 10px;
}

#team-member img {
    height: 250px;
    width: 100%;
}


/*---------------------------- media query ----------------------*/

@media screen and (max-width:1000px) {
    section {
        width: 100%;
    }
}

@media screen and (max-width:1000px) {
    #team-member img {
        height: 200px;
    }
}